@{
    ViewBag.Pagetitle = "Details";
}
<section class="main-content">
    <div class="main-content-row-1">   
        <img src="~/Media/school.png" alt="School" height="800" width="800" />
    </div>
    <div class="main-content-row-2">
    <h1>Kursinfo - @Model!.CourseTitle</h1>
    <p>Denna sidan behöver en annan layout</p>
    <div>
        <p>Status - @Model.Status</p>
        <p>Kurstitle - @Model.CourseTitle</p>
        <p>Kursnummer - @Model.CourseNumber</p>
        <p>Kursstart - @Model.CourseStartDate</p>
        <p>Kursslut - @Model.CourseEndDate</p>
        <p>Lärare - @Model.Teacher</p>             
        <p>Studenter - @foreach (var student in Model.Students)
                {
                    @student.Name

                        <br>                               
                }</p>       
    </div>
    <a asp-action="Index">Tillbaka</a>
</section>
