@model IList<WestCoastEducation.web.ViewModels.TeacherListViewModel>
@{
    ViewBag.Pagetitle = "Teacher Admin";
}
<section>
    <div class="table-container">
        <h1>Lärare</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Ålder</th>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                    <th>Email</th>
                    <th>Telefonnummer</th>
                    <th>Kompetenser</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                    <tr>
                        <td>
                            <a class="icon" asp-action="Edit" asp-controller=TeacherAdmin
                            asp-route-teacherId="@teacher.Id">
                                <i class="fa-solid fa-pen-to-square"></i></a>
                        </td>                        
                        <td>@teacher.Age</td>
                        <td>@teacher.FirstName</td>
                        <td>@teacher.LastName</td>
                        <td>@teacher.Email</td>
                        <td>@teacher.Phone</td>                        
                        <td>@foreach (var qualification in teacher.Qualifications)
                            {
                                <text>@qualification.Qualification. &nbsp;</text>                                                  
                            }
                        </td>
                        <td>
                            <a class="icon" asp-action="Delete" asp-controller=TeacherAdmin
                            asp-route-teacherId="@teacher.Id">
                                <i class="fa-solid fa-delete-left"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a class="btn-table" asp-action=create asp-controller="TeacherAdmin">Lägg till Lärare</a>
        </div>
    </div>
</section>
