@{
    ViewBag.Pagetitle = "Details";
}
<section class="main-content">
    <div class="main-content-row-1">   
        <img src="~/Media/school.png" alt="School" height="800" width="800" />
    </div>
    <div class="main-content-row-2">
    <h1>@Model!.FirstName - @Model!.LastName </h1>
    <div>
        <p>Ålder - @Model.Age</p>
        <p>Förnamne - @Model.FirstName</p>
        <p>Efternamn - @Model.LastName</p>
        <p>Email - @Model.Email</p>
        <p>Telefonnummer - @Model.Phone</p>
        <p>Konpetenser - @foreach (var qualification in Model.Qualifications)
            {
                @qualification.Qualification
                <br>                               
            }
        </p>                               
    </div>
    <a asp-action="Index">Tillbaka</a>
    </div>
</section>
